



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  margin-bottom: 30px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-top: 20px;
}

.App-intro {
  font-size: large;
  margin: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.reddit-search-form {
  margin: 20px;
}


.reddit-search-results {
  width: 60%;
  margin: auto;
  border: 1px solid black;
}

.reddit-search-results ul {
  padding: 20px;
  margin: auto;
  width: 400px;
}

.reddit-search-results ul li {
  padding: 10px;
}

.reddit-search-results ul li img {
  max-width: 400px;
}
